.p1{
	font-family: Times New Roman;
	text-align: left;
	 

}

.p2{
	font-family: Times New Roman;
	text-align: left;
	font-size: 1px;
}
.img-circle{
	border-bottom-style:none;
		background-color: b;border-radius: 20px;
	position: relative;
	bott
}
